:root {
  --bodyBackground: rgb(255, 255, 255);
  --bg-top: rgb(124, 77, 255);
  --bg-bottom: rgb(204, 156, 172);
  --outputColor: rgb(228, 139, 174);
  --barColor: rgb(149, 117, 205);
  --calculatorColor: rgba(17, 0, 80, 0.55);
  --screenColor: rgba(0, 0, 0, 0.76);
  --numberColor: rgba(255, 255, 255, 0.623);
  --btn-color: rgba(228, 139, 175);
  --equationColor: rgba(0, 0, 0, 0.55);
  --cacColor: rgba(209, 196, 233, 0.418);
  --cacHoverColor: rgb(209, 196, 233);
  --trigColorAct: rgb(255, 208, 122);
  --trigColorInact: rgba(255, 255, 255, 0.514);
  --dropMenuBg: rgba(90, 76, 139, 0.986);
  --scrollColor: rgba(255, 255, 255, 0.432);
}
