:root {
  --darkshade: rgba(0, 0, 0, 0.35);
  --bodyBackground: rgb(255, 255, 255);
  --bg-top: rgb(124, 77, 255);
  --bg-bottom: rgb(204, 156, 172);
  --color1: rgb(228, 139, 174);
  --color2: rgb(149, 117, 205);
  --color3: rgb(209, 196, 233);
  --borderColor: rgba(124, 77, 255, 0.336);
  --screenColor: rgba(0, 0, 0, 0.5);
  --numberColor: rgba(255, 255, 255, 0.623);
  --btn-color: rgba(228, 139, 175, 0.753);
  --equationColor: rgba(0, 0, 0, 0.55);
  --cacColor: rgba(209, 196, 233, 0.418);
}

body {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    30deg, 
    var(--bg-bottom) 20%,
    var(--bg-top) 100%
  );
  overflow: hidden;
}


.calculator {
  /* border: 10px solid var(--borderColor); */
  background-color: var(--darkshade); 
  border-radius: 20px;
}

.calculator input {
  margin: 15px auto;
  padding-right: 15px;
  width: 80%;
  height: 70px;
  background-color: var(--screenColor);
  color: var(--color1);
}

.bar {
  background-color: var(--color2);
  margin: auto;
  width: 96%;
  height: 0px;
  padding: 5px;
  border-radius: 5px;
}

.btn {
  background-color: transparent;
  color: var(--numberColor);
  border-radius: 4px;
  height: 65px;
  padding-top: 2px;
  font-size: 2em;
  transition: all 0.4s ease-in-out;
}

.btn:hover {
  background-color: var(--btn-color);
  color: var(--numberColor);
  text-decoration: none;
}


.wa { 
  background-color: var(--btn-color);
  color: var(--equationColor);
  font-weight: bold;
}

.wa:hover{
  color: var(--equationColor);
}

.cac {
  background-color: var(--cacColor);
  color: var(--equationColor);
}

.cac:hover {
  background-color: var(--color3);
  color: var(--equationColor);
}

.equals {
  background-color: var(--borderColor);
}

.equals:hover {
  background-color: var(--bg-top);
}