:root {
  --borderColor: rgba(0, 0, 0, 0.336);
}

body {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    30deg, 
    var(--bg-bottom) 20%,
    var(--bg-top) 100%
  );
  overflow: hidden;
}

.App {
  margin: auto;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#logo {
  position: absolute;
  width: 100%;
  max-width: 500px;
  height: 100%;
  right: 5px;
  bottom: 0px;
  z-index: -1;
  overflow: hidden;
  animation: fadeInAnimation ease 7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .4;
  }
}

.calculator {
  margin: auto;
  background-color: var(--calculatorColor); 
  border-radius: 20px;
}

.calculator input {
  margin: 15px auto;
  padding-right: 15px;
  width: 87%;
  height: 70px;
  opacity: 1;
  background: var(black);
  color: var(--outputColor);
}

input::placeholder {
  color: white;
}

.bar {
  background-color: var(--barColor);
  margin: auto;
  width: 96%;
  height: 0px;
  padding: 5px;
  border-radius: 5px;
}

.btn {
  background-color: transparent;
  color: var(--numberColor);
  border-radius: 4px;
  height: 65px;
  padding-top: 2px;
  font-size: 2em;
  transition: all 0.4s ease-in-out;
}

.btn:hover {
  background-color: var(--btn-color);
  color: var(--numberColor);
  text-decoration: none;
}


.wa { 
  background-color: var(--btn-color);
  color: var(--equationColor);
  font-weight: bold;
}

.wa:hover{
  color: var(--equationColor);
}

.cac {
  background-color: var(--cacColor);
  color: var(--equationColor);
}

.cac:hover {
  background-color: var(--cacHoverColor);
  color: var(--equationColor);
}

.equals {
  background-color: var(--borderColor);
}

.equals:hover {
  background-color: var(--bg-top);
}

/* Dropdown Menu */
ul {
  list-style: none;
}

p {
  text-decoration: none;
}

.menu-trigger i {
  position: absolute;
  top: 20px;
  right: 20px;
  overflow: hidden;
  cursor: pointer;
  
}

.menu-trigger i.active {
  color: var(--trigColorAct);
  opacity: 1;
  transform: rotate(90deg);
  transition: .5 ease;
}

.menu-trigger i.inactive {
  opacity: .8;
  transform: rotate(0deg);
  transition: .5 ease;
  color: var(--trigColorInact);
}

.drop-menu {
  position: absolute;
  top: 100px;
  right: 20px;
  background-color: var(--dropMenuBg);
  border-radius: 5px;
  /* padding-top: 130px; */
  width: 190px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.drop-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: .5s ease;
}

.drop-menu.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: .5s ease-out;
}

.drop-menu ul li {
  width: 120px;
  padding-top: 5px;
  padding-left: 10px;
  margin-left: -15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  /* border-bottom: var(--menuBars); */
  font-size: 20px;
  color: white;
}

.drop-menu ul li:hover p{
  color: var(--trigColorAct);
  font-weight: bold;
  cursor: pointer
}

.text-link {
  color: inherit;
  text-decoration: inherit;
}

.dropdownItem {
  margin: 5px auto;
}

.dropdownItem p {
  max-width: 100px;
  margin-left: 0px;
  transition: .2s ease-in-out;
}

.drop-menu::-webkit-scrollbar {
  width: 7px;
}

.drop-menu::-webkit-scrollbar-track {
  border-radius: 10px;
}

.drop-menu::-webkit-scrollbar-button {
  height: 10px;
}
.drop-menu::-webkit-scrollbar-thumb {
  background-color: var(--scrollColor);
  border-radius: 10px;
}